/* categories local */


.categories .tinvwl-icon-heart:before {
   font-size: 30px !important;
   top: 38% !important;
   left: 23% !important;

}

.categories__item .tinvwl-position-after {
   color: black !important;
   transition: all 0.5s;

   &:hover {
      color: red !important;
      transition: all 0.5s;
   }
}

.categories__cart img .categories__wishlist {
   display: flex;
}

.categories__item .tinvwl-product-in-list {
   color: red !important;
   transition: all 0.5s;
}






.favorites {
   background: #f3f3f3;
   padding-top: clamp(60px, 2vw, 88px);
   padding-bottom: clamp(60px, 2vw, 88px);

}

.wishlist__grid {
   background: #fff;
   padding: clamp(6px, 6vw, 20px) clamp(6px, 6vw, 40px);
   border-radius: 20px;
}

/* wishlist local */


.wishlist-remove {
   display: flex;
   justify-content: end;
   font-size: 20px;
   padding-bottom: 10px;
}

.wishlist-remove button {
   border-radius: 50%;
   transition: all 0.5s;
   padding: 8px;
   background: transparent;
}



.size-woocommerce_thumbnail {
   width: 100%;
   border-radius: 15px;
}

.wishlist_item {
   padding: 16px;
   border: 1px solid #D9D9D9;
   height: 100%;
   border-radius: 15px;
}







/* Обычное сердце */
.wishlist .tinvwl_add_to_wishlist_button {
   color: black !important;
   transition: 0.3s;
}

/* Hover */
.wishlist .tinvwl_add_to_wishlist_button:hover {
   color: red;
}

/* Уже в wishlist */
.wishlist .tinvwl-product-in-list {
   color: red !important;
}


.wishlist .tinvwl-icon-heart:before {
   font-size: 30px !important;
}


.wishlist .tinvwl-icon-heart.no-txt:before {
   position: unset !important;

}


 .wishlist .ftinvwl-times:before {
   content: "\e908" !important;
   color: red;
   font-size: 30px;
}

.wishlist .wishlist-remove button {
   padding: 0px;

}