@use "../base/vars" as *;

.categories-top {
    background: var(--lightgreen);
    padding: 70px;

    h1 {
        margin: 16px 0px;
    }

    .breadcrumbs {
        padding: 0;
    }

    &__text {
        max-width: 920px;
        font-size: 1.4rem;
        line-height: 1.4em;
        letter-spacing: -0.02em;
    }

    &__link {
        font-size: 1.4rem;
        color: var(--gren);
        text-decoration: underline;
      
    }
}


.categories{
    
    &__inner{
        display: flex;
        gap: 0px 40px;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
    }
}